<!DOCTYPE html>
<!-- while this can be used as a template for all cipher articles,
this file is for the Caesar cipher article -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/template.css">
    <link href="static/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="static/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="static/all_teams.js"></script>

    <title>Sports Data</title>
</head>

<body>


    <style>
    h1 {color:black;}
    </style>


    <div class="container">
    <h1 class="text-center"> Sports Visuals </h1>
    </div>


    <svg width="600" height="600"></svg>
    <br/>
    <div class="container">
    <form id="teams-form">
        <div id="teams-container"></div>
    </form> 
    </div>

    <script src="static/script.js"></script>
</body>

</html>
